@font-face {
    font-family: fuente1;
    src: url(../assets/fuentes/Yeysk.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
  background-color: #ef9dc0;
}
.slider .slides li .text {
    color: #fff;
    position: absolute;
    top: 40%;
    left: 20%;
    width: 70%;
}
.text-name {
  color: #fff;
  position: absolute;
  top: 20%;
  left: 5%;
  width: 70%;
}
.text-name2 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15%;
  width: 70%;
}
.fuente1 {
    font-family: fuente1;
    font-weight: 900;
}
.space {
  padding: 1em;
  font-size: 1.5em;
}
.typed2 {
  background-color: transparent;
  box-shadow: none;
}
.top {
  margin-top: 3em;
}
h2 {
  display: inline-block;
}
.project {
  width: 25%;
  display: inline-block;
  margin: auto 2.3em;
}
.parallax-container {
  height: 600px;
}
.letter1 {
  font-size: 2em;
}
.letter {
  font-size: 1.5em;
}
.padding {
  padding: 2em auto;
}
.animar1 {
  left: 0!important;
  height: 0!important;
  width: 300px!important;
}
.animar2 {
  right: 0!important;
}
/*Estilo del boton arriba*/

#Arriba {
position: fixed;
bottom: 30px; /* Distancia desde abajo */
right: 30px; /* Distancia desde la derecha */
/*BOTON*/
width: 60px; /* Ancho del botón */
height: 60px; /* Alto del botón */
display: block;
background: url(http://lh5.googleusercontent.com/-luDGEoQ_WZE/T1Ak-gta5MI/AAAAAAAACPI/ojfEGiaNmGw/s60/flecha-arriba.png) no-repeat center center;
}

#Arriba:hover{
	cursor: pointer;
}


/*Estilo del boton arriba y abajo*/

#Arriba1{

position: fixed;
bottom: 100px; /* Distancia desde abajo */
right: 30px; /* Distancia desde la derecha */
/*BOTON*/
width: 60px; /* Ancho del botón */
height: 60px; /* Alto del botón */
display: block;
background: url(http://lh5.googleusercontent.com/-luDGEoQ_WZE/T1Ak-gta5MI/AAAAAAAACPI/ojfEGiaNmGw/s60/flecha-arriba.png) no-repeat center center;
}

#Arriba1:hover{
	cursor: pointer;
}


#Abajo {
-webkit-transform: rotate(180deg);
position: fixed;
bottom: 30px; /* Distancia desde abajo */
right: 30px; /* Distancia desde la derecha */
/*BOTON*/
width: 60px; /* Ancho del botón */
height: 60px; /* Alto del botón */
display: block;
background: url(http://lh5.googleusercontent.com/-luDGEoQ_WZE/T1Ak-gta5MI/AAAAAAAACPI/ojfEGiaNmGw/s60/flecha-arriba.png) no-repeat center center;
}

#Abajo:hover{
	cursor: pointer;
}

/**************************************************/
.page-footer {
  background-color: grey;
  padding: 3em;
}
.page-footer .footer-copyright {
  background-color: transparent;
}
